.section-about {
    background-color: $color-grey-light-1;
    margin-top: -20vh;
    padding: 25rem 0;
}

.section-features {
    background-size: cover;
    background-position: top;    
    background-image: linear-gradient(to right bottom, rgba($color-primary-light,0.8), rgba($color-primary-dark,0.8)), url('/assets/img/nat-4.jpg');
    padding: 20rem 10rem;
    transform: skewY(-7deg);
    margin-top: -9rem;
    & > * {
        transform: skewY(7deg);
    }
}

.section-tours {
    background-color: $color-grey-light-1;
    padding: 20rem 0 10rem 0;
    margin-top: -8rem;
}

.section-stories {
    position: relative;
    padding: 2rem 0 10rem 0;
}

.section-book {
    padding: 15rem;
    background: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}

