    <header class="header">
        <div class="header__logo-box">
            <img src="assets/img/logo-white.png" alt="logo" class="header__logo">
        </div>

        <div class="header__text-box">
            <h1 class="heading-primary">
                <span class="heading-primary--main">outdoor</span>
                <span class="heading-primary--sub">Is where life happens</span>
            </h1>

            <a href="#" class="btn btn--white btn--bottom-animated">Discore our tours</a>
        </div>
    </header>

    <main>
      <section class="section-about">
            <h2 class="heading-secondary u-center-text u-margin-bottom-8">Excited tours for adventurous people</h2>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6">
                        <div class="heading-tertiary u-margin-bottom-2">
                            you`re going to fall in love with nature
                        </div>
                        <p class="paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi, harum. Accusantium quisquam atque delectus repudiandae nemo, neque cupiditate tempore enim cum placeat! Dicta quia quisquam sequi, facere voluptatibus incidunt maxime?</p>

                        <div class="heading-tertiary u-margin-bottom-2">
                            Live adventures like you never have before
                        </div>
                        <p class="paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi, harum. Accusantium quisquam atque delectus repudiandae nemo, neque cupiditate tempore enim cum placeat! Dicta quia quisquam sequi, facere voluptatibus incidunt maxime?</p>

                        <a href="#" class="btn-text">Learn More &rarr;</a>

                    </div>
                    <div class="col-6">
                        <div class="composition">
                            <img src="assets/img/nat-1-large.jpg" alt="" class="composition__photo composition__photo--p1">
                            <img src="assets/img/nat-2-large.jpg" alt="" class="composition__photo composition__photo--p2">
                            <img src="assets/img/nat-3-large.jpg" alt="" class="composition__photo composition__photo--p3">
                        </div>
                    </div>
                </div>
            </div>
      </section>

      <section class="section-features">
          
          <div class="container-fluid">
              <div class="row">
                <div class="col-12 col-md-3">
                    <div class="feature-box">
                        <i class="feature-box__icon icon-basic-world"></i>
                        <h3 class="heading-tertiary u-margin-bottom-1-5">explore the world</h3>
                        <p class="feature-box__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi, harum. Accusantium quisquam atque delectus repudi</p>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="feature-box">
                        <i class="feature-box__icon icon-basic-compass"></i>
                        <h3 class="heading-tertiary u-margin-bottom-1-5">meet nature</h3>
                        <p class="feature-box__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi, harum. Accusantium quisquam atque delectus repudi</p>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="feature-box">
                        <i class="feature-box__icon icon-basic-map"></i>
                        <h3 class="heading-tertiary u-margin-bottom-1-5">find your way</h3>
                        <p class="feature-box__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi, harum. Accusantium quisquam atque delectus repudi</p>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="feature-box">
                        <i class="feature-box__icon icon-basic-heart"></i>
                        <h3 class="heading-tertiary u-margin-bottom-1-5">live a heathier life</h3>
                        <p class="feature-box__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi, harum. Accusantium quisquam atque delectus repudi</p>
                    </div>
                </div>
              </div>
          </div>
      </section>
    </main>
